// ** global variables
// height
$ht-header: 60px;

// space
$gap: 10px;
$pd-content: 10px;
$pd-section: 20px;
$mg-content: 10px;
$pdY: 60px;

// ** fonts

// z-index
$z-index-modal: 1000;
$z-index-hd: 100;
$z-index-hd-btn: 110;
$z-index-slider-btn: 10;
$z-index-btn-to-top: 10;
$z-index-ps-el: -10;
